---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a
	href={href}
	class:list={[
		className,
		'relative',
		{
			'text-primary-600 dark:text-primary-400 after:absolute after:bottom-1 after:left-3 after:right-3 after:h-px after:bg-primary-500 dark:after:bg-primary-400':
				isActive
		},
		{
			'text-gray-600 dark:text-gray-300': !isActive
		}
	]}
	{...props}
>
	<slot />
</a>
